{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "mocha": true
      },
    "rules":{
        "linebreak-style": 0,
        "comma-dangle": 0
      },
     "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
      }
}
